NODE_ENV=development
PORT_HTTPS=443
PORT_HTTP=80
DATABASE_URL=file:backend.db

# OIDC Hardening
OIDC_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
OIDC_ISSUER="https://localhost"
